<%- include("templates/header") %> 
    <br>
    <p>You are logged in! Hi <%= username %>! </p>
    <a class="btn btn-primary" href="/logout" role="button">Log Out</a>
    <br> <br>
    
    <p id="townCoords"></p>
    <div class="row justify-content-start">
        <div class="col-4">
            <svg id="svg" height="320" width="320">
                <!-- Set townimg using ejs -->
                <image id="townimage" height="320" width="320" href="<%= url %>" />
            </svg>
        </div>
        <!-- <div class="w-100"></div> -->
        <div class="col-4">
            <div id="heatmapContainerWrapper">
                <div id="heatmapContainer"></div>
            </div>
        </div>
        <div class="col-4">
            <div id="pearlCount"></div>
        </div>
    </div>
    <div id="coords">[Color] pearl at [x], [z] added by: [user]</div>
    <br>

    <div id="deletion" style="content-visibility: hidden;">
        <p id="name">Delete Pearl?</p>
        <button id="delete">Yes</button>
        <button id="close">Close</button>
        <br> <br>
    </div>

    <p>Search Town</p>
    <div class="row g-3">
        <div class="col input-group">
            <div class="input-group-text">X</div>
            <input type="number" id="townx" class="form-control" min="-10" max="10" value="-1"/>
        </div>
        <div class="col input-group">
            <div class="input-group-text">Z</div>
            <input type="number" id="townz" class="form-control" min="-10" max="10" value="-1"/>
        </div>
        <div class="col input-group">
            <div class="input-group-text">Filter</div>
            <select id="filter" name="filter" class="form-select">
                <option value="">All</option>
                <option value="white">White</option>
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="cyan">Cyan</option>
                <option value="magenta">Magenta</option>
                <option value="yellow">Yellow</option>
                <option value="black">Black</option>
            </select>
        </div>
        <div class="col">
            <button id="searchmap" class="btn btn-primary" role="button">Search Map</button>
        </div>
    </div>

    
    <hr>

    <p>Add Pearl</p>
    <div class="row g-3">
        <div class="col input-group">
            <div class="input-group-text">X</div>
            <input type="number" id="x" class="form-control" min="-160" max="160"/>
        </div>
        <div class="col input-group">
            <div class="input-group-text">Z</div>
            <input type="number" id="z" class="form-control" min="-160" max="160"/>
        </div>
        <div class="col input-group">
            <div class="input-group-text">Color</div>
            <select id="type" name="type" class="form-select">
                <option value="none">Unspecified</option>
                <option value="white">White</option>
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>
                <option value="cyan">Cyan</option>
                <option value="magenta">Magenta</option>
                <option value="yellow">Yellow</option>
                <option value="black">Black</option>
            </select>
        </div>
        <div class="col">
            <button id="addpearl" class="btn btn-primary" role="button">Add Pearl</button>
        </div>
    </div>
    <br><br><br><br>

    <p>Upset? Come bother me on discord! likeem_apples</p>

    <!-- Stores pearl information that gets passed into index.js, this is stupid but it works -->
    <div class="variable" id="<%= pearlsList %>"> </div>
    
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="/libraries/heatmap.min.js"></script>
    <script src="/libraries/leaflet-heatmap.js"></script>
    <script type="module" src="/index.js"></script>

<%- include("templates/footer") %> 
